<% error = @project.errors.key?(:name) && @project.errors[:name].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label '项目名称', :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
  </div>
</fieldset>
<% error = @project.errors.key?(:description) && @project.errors[:description].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label '项目描述', :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :description, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset><!-- 
<% error = @project.errors.key?(:end_time) && @project.errors[:end_time].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :end_time, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :end_time, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:end_time) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @project.errors.key?(:user_id) && @project.errors[:user_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :user_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :user_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:user_id) : "Ex: a simple text" %></span>
  </div>
</fieldset> -->

<br />
<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:projects, :index), :class => 'btn btn-default' %>
</div>