
<div id="page-wrapper">
    <%=partial('tasks/task_layout') %>

	  <div class="row">
      <div class="col-lg-12" style='margin-top:20px;'>
      	<form action="/modify_task" class="form-horizontal" method='post'  role="form" >
            <fieldset>
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">任务描述</label>
                    <div class="input-group col-md-5">
                        <div class="input-group col-md-5">
                            <input type='text' name='id' value='<%=@task.id %>' style='display:none;'>
                        <textarea id='tomorrow' name='task[title]' class="form-control" value='' style='resize: none;width:500px; height:100px;' required="required"><%=@task.title%></textarea>
                        <span class="input-group-addon clear_val"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
            </fieldset>

     

            <fieldset>
                <div class="form-group">
                    <label for="level" class="col-md-2 control-label">级别</label>
                    <div class="input-group col-md-5">
                        <select id='level' name='task[level]' class="form-control">
                        <%Task.level_hash.each do  |key,val| %>
                          <option value='<%=key%>' <%='selected' if key==@task.level %>><%=val%></option>
                        <%end%> 
                        </select>
                    </div>
                </div>
            </fieldset>


            <fieldset>
                <div class="form-group">
                    <label for="solve_user_id" class="col-md-2 control-label">指派给</label>
                    <div class="input-group col-md-5">
                        <select id='assign' name='task[assign]' class="form-control">
                        	<%@users.each do |user|%>
						  <option value='<%=user.id%>'
						  	<%='selected' if user.id==@user.id %> <%='selected' if user.id==@task.assign %>><%=user.name%>
                          </option>
						  <%end%>
						</select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label for="project_id" class="col-md-2 control-label">所属项目</label>
                    <div class="input-group col-md-5">
                        <select id='project_id' name='task[project_id]' class="form-control">
                          <option value='0'>无</option>
                          <%@projects.each do |project| %>
                            <option value='<%=project.id%>' <%='selected' if project.id==@task.project_id %>>
                                <%=project.name%>
                            </option>
                          <%end%>
                        </select>
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <div class="form-group">
                    <button type="submit" class="btn col-md-offset-2 btn-outline btn-success">修改</button>
                </div>
            </fieldset>
        </form>

      </div>
    </div>

</div><!-- /#page-wrapper -->
<script type="text/javascript">
    $('.clear_val').click(function(){
        $(this).siblings().val('')
    })
</script>
