
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">bug 跟踪</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class='col-lg-12'>
  <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>
    <ul class="nav nav-tabs" role="tablist">
      <li <%='class=active' if params[:type]=='tome' %>><a href="/bug/tome">指派给我的</a></li>
      <li <%='class=active' if params[:type]=='byme' %> ><a href="/bug/byme">我添加的</a></li>
      <li <%='class=active' if params[:type]=='all' %>><a href="/bug/all">所有 bug</a></li>
      <li <%='class=active' if @type == 'new' %>><a href="/new_bug"><%= @name=='modify' ? '修改' : '新建' %> bug</a></li>
    </ul>
</div>
<!-- /.row -->
        


