<%=stylesheet_link_tag 'bootstrap-datetimepicker'%> 
<%=javascript_include_tag 'bootstrap-datetimepicker', 'bootstrap-datetimepicker.zh-CN'%>
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">项目修改</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <%=@project.name%>
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                             <form action="/project/modify" method='post' class="form-horizontal" method='post'  role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="name" class="col-md-2 control-label">项目名称</label>
                                        <div class="input-group col-md-5">
                                            <input id='name' class="form-control" name='name' value='<%=@project.name%>'>
                                            <input id='id' style='display:none;' class="form-control" name='id' value='<%=@project.id%>'>
                                            <span class="input-group-addon clear_val"><span class="glyphicon glyphicon-remove"></span></span>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <label for="end_time" class="col-md-2 control-label">结束时间</label>
                                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input id='end_time' class="form-control" size="16" type="text" value="<%=@project.end_time.strftime('%Y-%m-%d') if @project.end_time%>" name='end_time' readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <label for="description" class="col-md-2 control-label">项目描述</label>
                                        <div class="input-group col-md-5">
                                            <textarea id='description' name='description' class="form-control" style='resize: none;height:150px;'><%=@project.description.to_s%></textarea>
                                            <span class="input-group-addon clear_val"><span class="glyphicon glyphicon-remove"></span></span>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">添加成员</label>
                                            <%@users.each do |user| %>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name='member[]' value='<%=user.id%>'
                                                <%='checked' if @member.include?(user.id) %>
                                                <%='disabled' if @user.id == user.id %>
                                                ><%=user.name%> 
                                            </label>
                                            
                                            <%end%>
                                        </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <button type="submit" class="btn col-md-offset-6 btn-outline btn-success">提交项目</button>
                                    </div>
                                </fieldset>
                                
                            </form>
                            
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
<script type="text/javascript">
  
    $('.form_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    }); 
    $('.clear_val').click(function(){
        $(this).siblings().val('')
    })
</script>

